@model VmPerson
@{
    ViewData["Vista"] = "Details";
}
<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true"/>
<div class="recent-order">
    <h2>Notificar a Grupo ***</h2>
    <form asp-action="Index">
        <div class="notification-group">
            <button onclick="location.href='https://chat.whatsapp.com/LEqAcHTbiOGCTETnTLMLwX'" type="button">Conquistadores en General</button>
            <img src="/img/GeneralConquis.jpeg" style="width: 250px !important;height: 250px !important;"/>
            @switch (Model.Class)
            {
                case "Amigo":
                    break;
                case "Pionero":
                    <button onclick="location.href='https://chat.whatsapp.com/GIDUieUboMa2uaeFJmWnse'" type="button">Clase Pionero</button>
                    <img src="/img/PioneoQR.jpeg" style="width: 250px !important;height: 250px !important;"/>
                    break;
            }
        </div>
    </form>
</div>