################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ClubConquistadoresAguilas/v17/.suo
/.gitignore
