/* _content/Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*[b-lzldzk1rll]{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

a[b-lzldzk1rll]{
    text-decoration: none;
}

li[b-lzldzk1rll]{
    list-style: none;
}

:root[b-lzldzk1rll] {
    font-family: "Arimo", sans-serif;
}

body[b-lzldzk1rll] {
    background: white;
}

/*barra lateral*/

#sidebar[b-lzldzk1rll]{
    position: fixed;
    top:0;
    left:0;
    width:280px;
    height:100%;
    background: white;
    z-index:1000;
}

/*barra lateral*/
