/* _content/Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*[b-lzldzk1rll]{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

a[b-lzldzk1rll]{
    text-decoration: none;
}

li[b-lzldzk1rll]{
    list-style: none;
}

:root[b-lzldzk1rll] {
    font-family: "Arimo", sans-serif;
}

body[b-lzldzk1rll] {
    background: white;
    font-family: "Arimo", sans-serif;
}

/*barra lateral*/

#sidebar[b-lzldzk1rll] {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: white;
    z-index: 1000;
    font-family: sans-serif;
    transition: .3s ease;
}

    #sidebar.hide[b-lzldzk1rll]{
        width: 60px;
    }

    #sidebar .brand[b-lzldzk1rll] {
        font-size: 24px;
        font-weight: 700;
        height: 56px;
        display: flex;
        align-items: center;
        color: black;
        font-family: monospace;
        min-width: 60px;
        justify-content: center;
    }

/*no reconoce...no hace nada estas lineas*/
    #sidebar .bx[b-lzldzk1rll] {
        min-width: 60px;
        display: flex;
        justify-content: center;
       
    }

    #sidebar .side-menu[b-lzldzk1rll] {
        width: 100%;
        margin-top: 48px;
        
    }

        #sidebar .side-menu li[b-lzldzk1rll] {
            height: 48px;
            background: transparent;
            margin-left: 6px;
            border-radius: 48px 0 0 48px;
            padding: 4px;
            
        }

        #sidebar .side-menu li a[b-lzldzk1rll] {
           
            width: 100%;
            height: 100%;
            /*background: #00BF63;*/
            /*background: transparent;*/
            display: flex;
            align-items: center;
            border-radius: 48px;
            font-size: 16px;
            color: #2B463C;
            white-space: nowrap;
        }

            #sidebar .side-menu li a:hover[b-lzldzk1rll] {
                    color: white;
                    background: #00BF63;
                    font-weight: bolder;
            }

            #sidebar .side-menu li a .bx[b-lzldzk1rll] {
                    min-width: calc(60 px - ((4px + 6px) * 2));
                    display: flex;
                    justify-content: center;
            }


        /*categorias*/

        #sidebar .side-menu.top li .iocn-link:hover[b-lzldzk1rll] {
            color: white;
            background: #00BF63;
            
        }


        #sidebar .side-menu li .iocn-link[b-lzldzk1rll] {
            width: 100%;
            height: 100%;
            background: transparent;
            display: flex;
            align-items: center;
            border-radius: 48px;
            font-size: 16px;
            color: #2B463C;
           
        }


        #sidebar .side-menu li .sub-menu[b-lzldzk1rll] {
            /*display: none;*/
            align-items: center;
            justify-content: space-between;
            padding: 6px 6px 80px 50px;
            position: relative;
            left: 100%;
            top: 50%;
            margin-top: 0;
            border-radius: 0 6px 6px 0;
            transform: translateY(-50%);
            overflow: hidden;


            
        }
            

            #sidebar .side-menu li ul[b-lzldzk1rll] {
                display: none;
                position: absolute;
            }

        #sidebar .side-menu li:hover > ul[b-lzldzk1rll] {
            display: block;
            
        }


       
/*fin categorias*/

        #sidebar .side-menu li.active[b-lzldzk1rll]{
           
            position: relative;
           
        }

        #sidebar .side-menu li.active[b-lzldzk1rll]::before{
            content:'';
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            top: -40px;
            right: 0;
            box-shadow: 20px 20px 0 white; 
            z-index: -1;
        }

            #sidebar .side-menu li.active[b-lzldzk1rll]::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                bottom: -40px;
                right: 0;
                box-shadow: 20px -20px 0 white;
                z-index: -1;
            }

/*barra lateral*/

/*contenido*/
        #content[b-lzldzk1rll] {
            position: relative;
            width: calc(100% - 280px);
            left: 280px;
        }

/* navbar*/
        #content nav[b-lzldzk1rll] {
                height: 56px;
                background: white;
                padding: 0 24px;
                display: flex;
                align-items: center;
                grid-gap: 24px;
                font-family: sans-serif;
                position: relative;
                
        }

        #content nav[b-lzldzk1rll]::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: -40px;
                left: 0;
                border-radius: 50%;
                box-shadow: -20px -20px 0 white;
                
        }


       #content nav a[b-lzldzk1rll] {
             color: black;
             
       }


        #content nav .bx.bx-menu[b-lzldzk1rll]{
            cursor: pointer;
            
        }

       #content nav .nav-link[b-lzldzk1rll]{
                font-size: 16px;
                transition: .3s ease;
       }
       #content nav .nav-link:hover[b-lzldzk1rll] {
                color: #00BF63;
                
       }

       #content nav form[b-lzldzk1rll]{
                max-width: 400px;
                width: 100%;
                margin-right: auto;
       }

       #content nav form .form-input[b-lzldzk1rll] {
               display: flex;
               align-items: center;
               height: 36px;
       }

        #content nav form .form-input input[b-lzldzk1rll] {
            flex-grow: 1;
            padding: 0 16px;
            height: 100%;
            border: none;
            background: #F6F6F6;
            border-radius: 36px 0 0 36px;
            outline: none;
        }

        #content nav form .form-input button[b-lzldzk1rll] {
            width: 36px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #2D8196;
            color: white;
            font-size: 18px;
            border: none;
            outline: none;
            border-radius: 0 36px 36px 0;
            cursor: pointer;
        }


        #content nav .notificacion[b-lzldzk1rll]{
            font-size: 20px;
            position: absolute;
        }

        #content nav .notificacion .bx.bxs-bell[b-lzldzk1rll]{
            position: relative;
        }
        #content nav .notification .num[b-lzldzk1rll]{
            position: relative;
            top: -6px;
            right: -6px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid white;
            background: red;
            color: white;
            font-weight: 700;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
/**/
/* navbar*/

        #content nav .profile img[b-lzldzk1rll]{
            width: 36px;
            height: 36px;
            object-fit: cover;
            border-radius: 50%;
        }
/*fin contenido*/

/*main*/

/*.pb-3 {
    
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: white;
    z-index: 1000;
}*/
/* _content/Web/Views/Shared/_LayoutCrud.cshtml.rz.scp.css */
main .recent-orders[b-u9i9dgf1xd] {
    margin-top: 2rem;
}

main .recert-orders h2[b-u9i9dgf1xd] {
    margin-bottom: 0.8rem;
    color: red;
}

main .recert-orders table[b-u9i9dgf1xd] {
    background: red;
    width: 100%;
}
