@{
    ViewData["Vista"] = "Delete";
}
<link rel="stylesheet" href="~/css/Delete.css" asp-append-version="true" />

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<div class="formCrud">
    <h2>
        ELIMINAR CONQUISTADOR***

    </h2>

    <div class="row">
        <div class="col">
            <form asp-action="Delete" class="delete">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <div class="form-group">
                    <label @*asp-for="Name" *@class="control-label">Nombre(s) : *</label>
                    <input type="text" aria-label="Nombre" @*asp-for="Name"*@ class="form-control">
                    <span @*asp-validation-for="Name"*@ class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Apellidos : *</label>
                    <input type="text" aria-label="Apellidos" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Nacimiento : *</label>
                    <input type="date" aria-label="FechaNac" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sexo: *</label>
                    <select name="Sexo" id="Sexo">
                        <option value=""></option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre(s) : *</label>
                    <input type="text" aria-label="Nombre" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Telefono:*</label>
                    <input type="text" aria-label="telefono" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Correo:*</label>
                    <input type="email" placeholder="email@gmail.com" aria-label="email" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Direccion:*</label>
                    <input type="text" aria-label="direccion" class="form-control" required>
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Usuario:</label>
                    <input type="text" aria-label="usuario" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña:</label>
                    <input type="password" aria-label="pasword" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="clase">Clase</label>
                    <select name="clase" id="clase">
                        <option value=""></option>
                        <option value="r">Rojo</option>
                        <option value="a">Azul</option>
                        <option value="v">Verde</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="unidad">Unidad</label>
                    <select name="unidad" id="clase">
                        <option value=""></option>
                        <option value="r">Rojo</option>
                        <option value="a">Azul</option>
                        <option value="v">Verde</option>
                    </select>
                </div>
                <br />
                <br />
                @*<input type="submit" value="Guardar" class="btn btn-primary" />*@
                <button type="submit" class="btnEliminar" value="eliminar">Eliminar</button>
            </form>

        </div>

    </div>

    @* @section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    *@

</div>
<br />
<br />
<div class="botones">

    <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Details", "Conquistador")'">Cancelar</button>
</div>


