@*@model ClubConquistadoresAguilas.Models.VMPerson*@

@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "Create";
}

<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true" />

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@
<form>
    <h1>
        Hola, <b name="nombrePersona">Pedro</b> !
        <span class="material-symbols-outlined">waving_hand</span>
    </h1>

    <div class="recent-order">
        <h2>
            NUEVO ***
           
        </h2>

        <div class="row">
            <div class="col">
                <form asp-action="Create">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group">
                        <label @*asp-for="Name" *@class="control-label">Nombre(s) : *</label>
                        <input type="text" placeholder="Nombre" aria-label="Nombre" @*asp-for="Name"*@ class="form-control">
                        <span @*asp-validation-for="Name"*@ class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Apellidos : *</label>
                        <input type="text" placeholder="Apellidos" aria-label="Apellidos" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha Nacimiento : *</label>
                        <input type="date" placeholder="dd/mm/aa" aria-label="FechaNac" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Sexo: *</label>
                        <input type="radio" name="masculino" value="M">Masculino<br>
                        <input type="radio" name="femenino" value="F">Femenino
                        
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre(s) : *</label>
                        <input type="text" placeholder="Nombre" aria-label="Nombre" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telefono:*</label>
                        <input type="number" placeholder="999 999 999" aria-label="telefono" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Correo:*</label>
                        <input type="email" placeholder="email@gmail.com" aria-label="email" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Direccion:*</label>
                        <input type="text" placeholder="Calle nueva vida Mz.E Lt.34 " aria-label="direccion" class="form-control">
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Usuario:</label>
                        <input type="text" placeholder="Pepito " aria-label="usuario" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contraseña:</label>
                        <input type="text" placeholder="********" aria-label="pasword" class="form-control">
                        <span class="text-danger"></span>
                    </div>
                    <div>
                        <label for="clase">Clase</label>
                        <select name="clase" id="clase">
                            <option value="ec">Elegir Clase</option>
                            <option value="r">Rojo</option>
                            <option value="a">Azul</option>
                            <option value="v">Verde</option>
                        </select>
                    </div>
                    <div>
                        <label for="unidad">Unidad</label>
                        <select name="unidad" id="clase">
                            <option value="eu">Elegir Unidad</option>
                            <option value="r">Rojo</option>
                            <option value="a">Azul</option>
                            <option value="v">Verde</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-outline-secondary" />

                    </div>
                </form>
                
            </div>
           
        </div>
        <div>
            
            <a asp-action="CrudConquistador">Volver</a>
        </div>

       @* @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
*@
                      
    </div>

</form>

