
@{
    Layout = "_LayoutCrud";
}
<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true" />

<h1>Inicio</h1>
<div class="recent-order">
    <h2>Personas</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Numero</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Clase</th>
                <th>Unidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>44444</td>
                <td>clase1</td>
                <td>unidad1</td>
            </tr>
        </tbody>
    </table>
</div>
