@model VmPerson
@using System.Globalization
@{
    ViewData["Vista"] = "TomarLista";
}
<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true"/>
<div class="recent-order">
    <h2>Tomar Lista ***</h2>
    <p class="bolded">Unidad : <b>@Model.Unit</b></p>
    <br/>
    <p class="bolded">Fecha : <b> @DateTime.Today.ToString("D", new CultureInfo("es-PE"))</b></p>
    @if (DateTime.Today.ToString("dddd", new CultureInfo("es-PE")) == "domingo")
    {
        <div class="right">
            <button type="submit" class="btnGuardar">Guardar</button>
            <button type="submit" class="btnCancelar" onclick="location.href='@Url.Action("TomarLista", "Consejero")'">Cancelar</button>
        </div>
        <table class="table table-hover">

        <thead>
        <tr name="columna">
            <th scope="col" name="nro">Item</th>
            <th class="nombre" name="colNombre">Nombre(s)</th>
            <th class="apellido" name="colApellido">Apellido Completo</th>
            <th class="asistencia" name="colasistencia">Asis.</th>
            <th class="devocion" name="coldevocion">Dev.</th>
            <th class="cuota" name="colcuota">Cuota</th>
            <th class="disciplina" name="coldisciplina">Disc.</th>
            <th class="aniobiblico" name="colaniobiblico">Año Bíb.</th>
            <th class="requerimientodeclase" name="colrequerimientodeclase">Req. de Clase</th>

        </tr>
        </thead>
        <tbody>
        <tr name="fila">
            <th scope="row" name="nro">1</th>
            <td class="nombre" name="rowNombre">Mark</td>
            <td class="apellido" name="rowApellido">Otto Suarez</td>
            <td class="asistencia" name="rowasistencia">
                <select name="Sexo" id="Sexo">
                    <option value="0">0</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </td>
            <td class="devocion" name="rowdevocion">
                <select name="Sexo" id="Sexo">
                    <option value="0">0</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </td>
            <td class="cuota" name="rowcolcuota">
                <select name="Sexo" id="Sexo">
                    <option value="0">0</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </td>
            <td class="disciplina" name="rowdisciplina">
                <select name="Sexo" id="Sexo">
                    <option value="0">0</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </td>
            <td class="aniobiblico" name="rowaniobiblico">
                <select name="Sexo" id="Sexo">
                    <option value="0">0</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </td>
            <td class="requerimientodeclase" name="rowrequerimientodeclase">
                <select name="Sexo" id="Sexo">
                    <option value="0">0</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </td>
        </tr>

        </tbody>
    </table>
    }
    else
    {
        <h1>Hoy no se toma asistencia, espera al domingo.</h1>
    }
</div>