@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "Registrar_Notas";

}


<link rel="stylesheet" href="~/css/EstiloRegNotas.css" asp-append-version="true" />

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<div class="recent-order">
    <h2>
        Registrar Notas de Examen ***
    </h2>

    <div class="form-group">
        <label for="clase">Clase : <b> Amigo</b> </label>
        
    </div>
    <div class="right">
        <button type="submit" class="btnGuardar">Guardar</button>
        <button type="submit" class="btnCancelar" onclick="location.href='@Url.Action("Registrar_Notas", "Instructor")'">Cancelar</button>
    </div>


    <table class="table table-hover">

        <thead>
            <tr name="columna">
                <th scope="col" name="nro">Item</th>
                <th class="nombre" name="colNombre">Nombre(s)</th>
                <th class="apellido" name="colApellido">Apellido Completo</th>
                <th class="fechaHoy" name="colfecha">Fecha Actual</th>
                <th class="notaexamen" name="colnotaexamen">Nota Examen</th>
                <th class="estado" name="colestado">Estado</th>
               
            </tr>
        </thead>
        <tbody>
            <tr name="fila">
                <th scope="row" name="nro">1</th>
                <td class="nombre" name="rowNombre">Mark</td>
                <td class="apellido" name="rowApellido">Otto Suarez</td>
                <td class="fechaActual" name="rowaFechaActual">
                    <input type="date" id="dateDefault"/>  
                </td>

                <td class="notaexamen" name="rownotaexamen">
                    <input type="number" id="nota"/>
                </td>
                <td class="estado" name="rowestado">
                    <select name="estado" id="estado">
                        <option value="aprobado">Aprobado</option>
                        <option value="desaprobado">Desaprobado</option>
                    </select>
                </td>
                
            </tr>

        </tbody>
    </table>


</div>

<script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;

        if (d < 10) {
            d = "0" + d;
        };
        if (m < 10) {
            m = "0" + m;
        };

        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    };

    setInputDate("#dateDefault");
</script>