main .recent-orders[b-u9i9dgf1xd] {
    margin-top: 2rem;
}

main .recert-orders h2[b-u9i9dgf1xd] {
    margin-bottom: 0.8rem;
    color: red;
}

main .recert-orders table[b-u9i9dgf1xd] {
    background: red;
    width: 100%;
}
