@{
    Layout = "_Layout";
    ViewData["Title"] = "Quienes Somos";
}

<h2 xmlns="http://www.w3.org/1999/html">Bienvenidos al Club de Conqusitadores "Las Aguilas"</h2>
<p>
    Somos un club de conquistadores comprometidos en brindar a los jóvenes una experiencia enriquecedora llena de aventuras,
    aprendizaje y desarrollo personal. Nuestra misión es formar líderes responsables, ciudadanos comprometidos y seguidores
    de Jesús, a través de actividades recreativas, educativas y de servicio comunitario.
</p>
<p>
    Nuestro club se fundó en el año 2014 y desde entonces hemos estado trabajando para proporcionar un ambiente seguro y
    estimulante donde los jóvenes puedan crecer física, mental y espiritualmente. Contamos con un equipo de líderes capacitados
    y dedicados que guían y apoyan a nuestros conquistadores en su camino de crecimiento y desarrollo.
</p>
<p>
    En nuestro club, los jóvenes tienen la oportunidad de participar en una amplia variedad de actividades emocionantes,
    como acampadas, excursiones, talleres de habilidades, eventos deportivos y muchas otras más. Además, fomentamos valores
    como el compañerismo, el respeto, la responsabilidad y el servicio a los demás.
</p>
<p>
    Nos enorgullece formar parte de la Asociación de Clubes de Conquistadores de nuestra división, lo que nos brinda la
    oportunidad de participar en eventos y campamentos a nivel local, regional, nacional e incluso a nivel sudamerica. Además, estamos comprometidos
    con el cumplimiento de las normas y estándares de seguridad establecidos por la Asociación Internacional de Clubes de Conquistadores.
</p>
<p>
    ¡Te invitamos a unirte a nuestra familia de conquistadores y descubrir todo lo que nuestro club tiene para ofrecer!
    Si tienes entre 10 y 100 años, te animamos a que te unas a nosotros y vivas una experiencia inolvidable llena de amistad, aventuras y crecimiento personal.
</p>
<p>
    ¡Ven y únete al Club de Conquistadores "Las Aguilas"!
</p>