@{
    Layout = "_Layout";
    ViewData["Title"] = "Contáctanos";
}

<h2>Contáctanos</h2>
<div class="list-group">
    <a href="https://api.whatsapp.com/send?phone=51982772867&amp;text=Hola%20%2C%20deseo%20adquirir%20un%20producto" class="list-group-item list-group-item-action active" aria-current="true" style="background-color:#25D366 !important; border:#25D366 !important;">
        WhatsApp
    </a>
    <a href="https://www.facebook.com/profile.php?id=100094059254028&mibextid=ZbWKwL" class="list-group-item list-group-item-action active" aria-current="true" style="background-color:#3B5998 !important; border:#3B5998 !important;">
        Facebook
    </a>
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true" style="background-color:#D62976 !important; border:#D62976 !important;">
        Instagram
    </a>
</div>