@{
    ViewData["Title"] = "DirectorConquistador";
}
<div class=".container-fluid">
    <div>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
    <table class="table table-hover" id="tablaConquistadores">
        
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Clase</th>
                <th scope="col">Unidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>11111111</td>
                <td>Otto</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
</div>
