
@{
    ViewData["Title"] = "DirectorInstructor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DirectorInstructor</title>
</head>
<body>
</body>
</html>
