@{
    Layout = "_Layout";
    ViewData["Title"] = "Ideales";
}

<h2>VOTO</h2>
<p>
    Por la gracia de Dios seré puro, bondadoso
    y leal, guardaré la ley del conquistador. Seré
    siervo de Dios y amigo de todos.
</p>

<h2>LEY</h2>
<p>
    Observar la devoción matutina;
    Cumplir fielmente con la parte que me
    corresponde;
    Cuidar mi cuerpo;
    Tener una conciencia limpia;
    Ser cortés y obediente;
    Andar con reverencia en la casa de Dios; Tener
    una canción en el corazón;
    Ir donde Dios me mande.
</p>

<h2>BLANCO</h2>
<p>
    El mensaje del advenimiento a todo el
    mundo en mi generación.
</p>

<h2>LEMA</h2>
<p>El amor de Cristo me motiva.</p>

<h2>PROPOSITO</h2>
<p>
    Los jóvenes por los jóvenes, los jóvenes
    por la iglesia y los jóvenes por sus
    semejantes.
</p>

<h2>OBJETIVO</h2>
<p>Salvar del pecado y guiar en el servicio.</p>

<h2>VOTO DE FIDELIDAD A LA BIBLIA</h2>
<p>
    Prometo fidelidad a la Biblia, a su
    mensaje de un Salvador crucificado,
    resucitado y listo a venir, dador de vida
    y libertad a los que creen en él.
</p>

<h2>HIMNO</h2>
<p>
    Conquistadores somos,
    Los siervos del buen Señor;
    Adelante vamos ya,
    Luchando bien con gran valor.
    Salgamos a proclamar
    las nuevas de salvación:
    Jesús va a llevarnos pronto
    A su real mansión.
</p>