@{
    Layout = "_Layout";
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

@*<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/fondo.png" class="d-block w-100" alt="Formacion para empezar la caminata">
        </div>
        <div class="carousel-item">
            <img src="/img/fondo2.jpeg" class="d-block w-100" alt="Investidura de conqusitadores">
        </div>
        <div class="carousel-item">
            <img src="/img/fondo3.jpeg" class="d-block w-100" alt="Medio camino a las cataratas">
        </div>
    </div>
</div>

@*<div class="slider-container ">
    <img class="slider-item"
         src="/img/fondo.png"/>
    <img class="slider-item"
         src="/img/imagen.jpg"/>
    <img class="slider-item"
         src="/img/fondo.png"/>
</div>*@