
main .formCrud {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 94%;
    overflow: hidden;
}

main .formCrud .row {
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid #2B463C; /*verde oscuro*/
}

main .formCrud label {
    color: #2B463C; /*verde oscuro*/
    float: left;
    width: 200px;
    padding-right: 24px;
}

main .formCrud .form-control[type="date"]:checked {
    color: #2B463C; /*verde oscuro*/
}

main .formCrud .row input, select {
    border: 2px solid #2B463C; /*verde oscuro*/
    border-radius: 10px;
    height: 2rem;
    column-span: all;
    column-width: 140px;
    float: left;
    width: calc(100% - 10px);
}

main .formCrud .row .form-group select {
    font-size: 12px;
    color: #7F7D7F;
    text-align: left;
}

main .botones {
    height: 2rem;
    align-content: center;
    justify-content: center;
    text-align: center;
}

main .row .col .btnGuardar {
    background-color: white;
    color: #00BF63; /*verde fosforescente*/
    border: 2px solid #00BF63; /* plomo */
    border-radius: 10px;
    width: 50%;
    height: 2rem;
    margin: 15px 0px 0px 0px;
}

main .delete button:hover {
    background-color: #EA2027; /*rojo*/
    color: white;
}

main .delete button {
    background-color: white;
    color: #EA2027; /*rojo*/
    border: 2px solid #EA2027; /*rojo*/
    border-radius: 10px;
    width: 50%;
    height: 2rem;
    margin: 15px 0px 0px 0px;
}


main .botones .btnCancelar {
    background-color: white;
    color: #979497; /* plomo */
    border: 2px solid #979497; /* plomo */
    border-radius: 10px;
    width: 40%;
    height: 2rem;
}

main .botones button:hover {
    background: #979497;
    color: white;
}

main .eliminar h1 {
    color: white;
}

main .eliminar h2 {
    color: white;
}

main h1 span {
    color: #FBB03B; /*naranja*/
    font-size: 200px;

}

main .eliminar b {
    color: yellow;
}

main .formCrud h2 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

main .formCrud .eliminar {
    background: #CC202D;
    display: grid;
    gap: 1.6rem;
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-left: 10rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    width: 50%;
    height: 50%;
}

main .eliminar .btnCancelar {
    background-color: white;
    color: #979497; /* plomo */
    border: 2px solid #979497; /* plomo */
    border-radius: 10px;
    width: 40%;
    height: 2rem;

}

main .eliminar .btnCancelar:hover {
    background: #979497;
    color: white;
    border-color: white;
}

main .eliminar button {
    justify-content: center;
    background-color: white;
    color: #EA2027; /*rojo*/
    border: 2px solid #EA2027; /*rojo*/
    border-radius: 10px;
    width: 40%;
    height: 2rem;
    margin: 15px 5px 0px 15px;
}

main .eliminar .btnEliminar:hover {
    background: red;
    color: white;
    border-color: white;
}


