@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-green{
    background-color: #2B463C !important;
}

.btn-border-color{
    border-color: #879D7E !important;
}

.footer{
    position:absolute !important;
    bottom:0;
    width: 100%;
}

.text-red{
    color:red !important;
}