@{
    ViewData["Vista"] = "Create";
    ViewBag.Title = "Crear Actividad";
}
<link rel="stylesheet" href="~/css/Create.css" asp-append-version="true"/>
<div class="formCrud">
    <h2>NUEVA ACTIVIDAD***</h2>
    <div class="row">
        <div class="col">
            <form action="@Url.Action("Create", "Actividades")" method="post" autocomplete="off">
                <div class="form-group">
                    <label class="control-label">Nombre: *</label>
                    <input type="text" id="nombre" aria-label="Nombre" class="form-control" required name="name">
                    <span id="mensajeNombre" style="display:none; color:red;">El nombre debe tener como máximo 30 letras y puede contener espacios.</span>

                </div>

                <div class="form-group">
                    <label class="control-label">Fecha de Inicio: *</label>
                    <input type="date" id="fechaInicio" aria-label="fecIni"  class="form-control" required name="startDate">
                    <span id="mensajeFechaInicio" style="display:none; color:red;">La fecha de inicio debe ser igual o posterior a la fecha actual más un día.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de Fin: *</label>
                    <input type="date" id="fechaFin" aria-label="Fechafin"  class="form-control" required name="endDate">
                    <span id="mensajeFechaFin" style="display:none; color:red;">La fecha de fin debe ser mayor que la fecha de inicio.</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Lugar: *</label>
                    <input type="text" maxlength="50" aria-label="lugar" class="form-control" required name="location">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Descripción: *</label>
                    <input type="text" maxlength="100" aria-label="lugar" class="form-control" required name="description">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Requerimientos: *</label>
                    <input type="text" id="requerimientos" aria-label="lugar" class="form-control" required name="requirements">
                    <span id="mensajeRequerimientos" style="display:none; color:red;">Los requerimientos deben tener como máximo 50 letras.</span>

                </div>

                <div class="form-group">
                    <label class="control-label">Encargado:</label>
                    <input type="search" aria-label="padre" id="padre" class="form-control">
                    <select class="apoderado" name="manager" id="listaPadres" required>
                        @foreach (var manager in ViewBag.Managers)
                        {
                            <option value="@manager.Value" class="father">@manager.Text</option>
                        }
                    </select>
                </div>

                <br/>
                <br/>
                <button type="submit" id="btnGuardar" class="btnGuardar" value="guardar">Guardar</button>
                <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Details", "Actividades")'">Cancelar</button>

            </form>

        </div>

    </div>
</div>

<script type="text/javascript"
        src="~/js/validacionesCrearActividad.js">
</script>
<script>
document.addEventListener("keyup", e =>{
    e.target.matches("#padre")
    console.log(e.target.value)
    
    if (e.target.matches("#padre")){
        if (e.key==="Escape")e.target.value = ""
        document.querySelectorAll(".father").forEach(father=>{
            father.textContent.toLowerCase().includes(e.target.value.toLowerCase()) ? father.classList.remove("filtro") : father.classList.add("filtro")
        })
    }
})
</script>