@{
    ViewData["Vista"] = "Create";
    ViewBag.Title = "Crear Actividad";
}
<link rel="stylesheet" href="~/css/Create.css" asp-append-version="true"/>
<div class="formCrud">
    <h2>NUEVA ACTIVIDAD***</h2>
    <div class="row">
        <div class="col">
            <form action="@Url.Action("Create", "Actividades")" method="post" autocomplete="off">
                <div class="form-group">
                    <label class="control-label">Nombre: *</label>
                    <input type="text" aria-label="Nombre" class="form-control" required name="name">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Fecha de Inicio: *</label>
                    <input type="date" aria-label="fecIni" id="fecIni" class="form-control" required name="startDate">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de Fin: *</label>
                    <input type="date" aria-label="Fechafin" id="fecfin" class="form-control" required name="endDate">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Lugar: *</label>
                    <input type="text" aria-label="lugar" class="form-control" required name="location">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Descripción: *</label>
                    <input type="text" aria-label="lugar" class="form-control" required name="description">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Requerimientos: *</label>
                    <input type="text" aria-label="lugar" class="form-control" required name="requirements">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Encargado:</label>
                    <input type="search" aria-label="padre" id="padre" class="form-control">
                    <select class="apoderado" name="manager" id="listaPadres" required>
                        <option value="" class="father">Encargado 1</option>
                        @foreach (var manager in ViewBag.Managers)
                        {
                            <option value="@manager.Value" class="father">@manager.Text</option>
                        }
                    </select>
                </div>

                <br/>
                <br/>
                <button type="submit" class="btnGuardar" value="guardar">Guardar</button>
                <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Details", "Actividades")'">Cancelar</button>

            </form>

        </div>

    </div>
</div>