@{
    ViewData["Vista"] = "Edit";
}
<link rel="stylesheet" href="~/css/Create.css" asp-append-version="true"/>

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<div class="formCrud">
    <h2>
        EDITAR ACTIVIDAD ***

    </h2>

    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                <div class="form-group">
                    <label @*asp-for="Name" *@class="control-label">Nombre(s) : *</label>
                    <input type="text" aria-label="Nombre" @*asp-for="Name"*@ class="form-control">
                    <span @*asp-validation-for="Name"*@ class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Fecha Inicial : *</label>
                    <input type="date" aria-label="fecIni" id="fecIni" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Final : *</label>
                    <input type="date" aria-label="Fechafin" id="fecfin" class="form-control" required>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sexo: *</label>
                    <select name="Sexo" id="Sexo">
                        <option value=""></option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre(s) : *</label>
                    <input type="text" aria-label="Nombre" class="form-control" required>
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="clase">Clase</label>
                    <select name="clase" id="clase">
                        <option value=""></option>
                        <option value="r">Rojo</option>
                        <option value="a">Azul</option>
                        <option value="v">Verde</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Encargado(s) : *</label>
                    <input type="text" aria-label="encargado" class="form-control" required>
                    <span class="text-danger"></span>
                </div>

                <br/>
                <br/>
                @*<input type="submit" value="Guardar" class="btn btn-primary" />*@
                <button type="submit" class="btnGuardar" value="guardar">Guardar</button>
                <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Details", "Actividades")'">Cancelar</button>

            </form>

        </div>

    </div>

</div>


    