@*@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Globalization*@
@{
    Layout = "_LayoutCrud";
}
@*@{
    var vmPerson = new VmPerson();
    vmPerson.BirthDate = User.FindFirstValue(ClaimTypes.DateOfBirth);
    vmPerson.Phone = User.FindFirstValue(ClaimTypes.MobilePhone);
    vmPerson.Email = User.FindFirstValue(ClaimTypes.Email);
    vmPerson.Class = User.FindFirstValue(ClaimTypes.Actor);
    vmPerson.Unit = User.FindFirstValue(ClaimTypes.Authentication);
}*@
<link rel="stylesheet" href="~/css/PerfilPadre.css" asp-append-version="true" />


<div class="insights">
    @*clase conquistador*@
    <div class="hijo">
        <div class="middle">
            <div class="left">
                <span class="material-symbols-outlined">lock_person</span>
                <h3><b>Información General</b></h3>
                <h5><b>Fecha de nacimiento:</b> BirthDate</h5>
                <h5><b>Telefono:</b> Phone</h5>
                <h5><b>Email:</b> Email</h5>
            </div>

        </div>
    </div>
</div>

