
@{
    ViewData["Vista"] = "PerfilHijoConquistador";
    ViewBag.Title = "Perfil Hijo Conquistador";
}

<link rel="stylesheet" href="~/css/perfilconquistador.css" asp-append-version="true" />
<h1>Hijo Conquistador</h1>
<div class="insights">
    <div class="clase">
        <span class="material-symbols-outlined">category</span>
        <div class="middle">
            <div class="left">
                <h3>Clase</h3>
                <h1>Amigo</h1>

            </div>
            <div class="color">
               

            </div>
        </div>
    </div>

    @*unidad conquistador*@
    <div class="unidad">
        <span class="material-symbols-outlined">interests</span>
        <div class="middle">
            <div class="left">
                <h3>Unidad</h3>
                <h1>Fenix</h1>
            </div>
            <div class="color">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
            </div>


        </div>
    </div>
    @*datos personales conquistador*@
    <div class="info">
        <span class="material-symbols-outlined">lock_person</span>
        <div class="middle">
            <div class="left">
                <h3><b>Información General</b></h3>
                <h5><b>Fecha de nacimiento:</b>BirthDate</h5>
                <h5><b>Telefono:</b>Phone</h5>
                <h5><b>Email:</b>Email</h5>
            </div>

        </div>
    </div>
</div>

@*Pedir Auxilio*@
<div class="auxilio">
    <div class="left">
        <h3>
            Disfrutar de una excursión por la montaña o el campo es una de las mejores actividades
            para hacer al aire libre. Sin embargo, siempre debes ir acompañado de tu grupo,
            si no conoces bien la zona y
            el camino no está señalizado puedes perderte y no encontrar la manera de regresar a casa.
        </h3>
        <br />
        <p>
            Para contactarse con su grupo de Conquistadores,
            por favor presione el siguiente boton, lo redigira a su grupo de whatsap
        </p>
        <button onclick="location.href='https://wa.me/966871384'" type="button">Grupo de Conquistadores</button>
    </div>
    <div class="rigth">

        <img src="/img/conquistador1.png" />
    </div>
    <div class="left">
        <a class="ubicacion" href="https://maps.app.goo.gl/KTCw3mM5fj1AcVcv7" target="_blank" rel="noopener noreferrer">
            Ubicacion Real
            <span class="material-symbols-outlined">move_location</span>
        </a>
       
        <h3>My Google Maps - Ubicacion Club</h3>
        <!--The div element for the map -->
       @* <div id="map">
            <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>
                (function () {
                var setting = { "query": "parque temático cerca de COMPLEJO LOS DINOSAURIOS, Majes, Arequipa, Perú", "width": 500, "height": 300, "satellite": false, "zoom": 12, "placeId": "ChIJP9c0QK1tP44RDwhnPVUDFgQ", "cid": "0x41603553d67080f", "coords": [4.572378, -74.42921679999999], "lang": "es", "queryString": "parque temático cerca de COMPLEJO LOS DINOSAURIOS, Majes, Arequipa, Perú", "centerCoord": [4.572378, -74.42921679999999], "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3", "embed_id": "968052" };
                var d = document;
                var s = d.createElement('script');
                s.src = 'https://1map.com/js/script-for-user.js?embed_id=968052';
                s.async = true;
                s.onload = function (e) {
                window.OneMap.initMap(setting)
                };
                var to = d.getElementsByTagName('script')[0];
                to.parentNode.insertBefore(s, to);
                })();</script><a href="https://1map.com/es/map-embed">1 Map</a>
                                                                         

            </div>
        </div>
*@
        <!-- prettier-ignore -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15311.96917191026!2d-71.56051435!3d-16.374355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1689919227845!5m2!1ses!2spe" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

