
@{
    ViewData["Vista"] = "PerfilHijoConquistador";
    ViewBag.Title = "Perfil Hijo Conquistador";
}

<link rel="stylesheet" href="~/css/perfilconquistador.css" asp-append-version="true" />
<h1>Hijo Conquistador</h1>
<div class="insights">
    <div class="clase">
        <span class="material-symbols-outlined">category</span>
        <div class="middle">
            <div class="left">
                <h3>Clase</h3>
                <h1>Amigo</h1>

            </div>
            <div class="color">
               

            </div>
        </div>
    </div>

    @*unidad conquistador*@
    <div class="unidad">
        <span class="material-symbols-outlined">interests</span>
        <div class="middle">
            <div class="left">
                <h3>Unidad</h3>
                <h1>Fenix</h1>
            </div>
            <div class="color">
                <svg>
                    <circle cx="38" cy="38" r="36"></circle>
                </svg>
            </div>


        </div>
    </div>
    @*datos personales conquistador*@
    <div class="info">
        <span class="material-symbols-outlined">lock_person</span>
        <div class="middle">
            <div class="left">
                <h3><b>Información General</b></h3>
                <h5><b>Fecha de nacimiento:</b>BirthDate</h5>
                <h5><b>Telefono:</b>Phone</h5>
                <h5><b>Email:</b>Email</h5>
            </div>

        </div>
    </div>
</div>

@*Pedir Auxilio*@
<div class="auxilio">
    @*inicio detalles-perfil*@
    <div class="right">
        <div class="ubicacion">
            <a class="ubicacion-real" href="https://maps.app.goo.gl/KTCw3mM5fj1AcVcv7" target="_blank" rel="noopener noreferrer">
                <h3>Ubicacion Real</h3>
                <span class="material-symbols-outlined">move_location</span>
            </a>

            <h3>My Google Maps - Ubicacion Club</h3>

            <!-- prettier-ignore -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15311.96917191026!2d-71.56051435!3d-16.374355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1689919227845!5m2!1ses!2spe" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
        <div class="detalles-perfil">
            <h2>Detalles: </h2>
            <div class="item notas">
                <div class="icon">
                    <span class="material-symbols-outlined">spellcheck</span>
                </div>
                <div class="rigth">
                    <div class="info">
                        <h3>PUNTAJE</h3>
                        <small class="text-muted">Hasta la fecha</small>

                    </div>
                    <h5 class="success">00</h5>
                </div>
            </div>
            <div class="item ahorro">
                <div class="icon">
                    <span class="material-symbols-outlined">savings</span>
                </div>
                <div class="rigth">
                    <div class="info">
                        <h3>AHORRO</h3>
                        <small class="text-muted">Hasta la fecha</small>

                    </div>
                    <h5 class="danger">00</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="left">
        <h3>
            Disfrutar de una excursión por la montaña o el campo es una de las mejores actividades
            para hacer al aire libre. Sin embargo, siempre debes ir acompañado de tu grupo,
            si no conoces bien la zona y
            el camino no está señalizado puedes perderte y no encontrar la manera de regresar a casa.
        </h3>
        <br />
        <p>
            Para contactarse con su grupo de Conquistadores,
            por favor presione el siguiente boton, lo redigira a su grupo de whatsap
        </p>
        <div class="rigth">
            <button onclick="location.href='https://wa.me/966871384'" type="button">Grupo de Conquistadores</button>
            <img src="/img/conquistador1.png" />
        </div>
       
        
    </div>
  

    @*fin de seccion-updates*@

    
</div>

