@{
    ViewData["Vista"] = "Ahorro";
    ViewBag.Title = "Registrar Ahorro";
}
<script type="text/javascript"
        src="~/js/cruds.js">
</script>
<script type="text/javascript"
        src="~/js/cruds2.js">
</script>
<link rel="stylesheet" href="~/css/inscripcionTesoreria.css" asp-append-version="true"/>
<div class="recent-order">
    <h2>Registrar Ahorro ***</h2>
    <div class="form-group">
        <label>Fecha:</label>
        <input type="date" id="dateDefault"/>
    </div>
    <form action="@Url.Action("Ahorro", "Tesoreria")" method="post" autocomplete="off">
        <div class="form-group participantes">
            <label class="control-label">Conquistador: </label>
            <input type="search" aria-label="padre" id="padre" class="form-control">
            <select class="apoderado" name="pathfinder" id="listaPadres">
                @foreach (var pathfinder in ViewBag.Pathfinders)
                {
                    <option value="@pathfinder.Value" class="father">@pathfinder.Text</option>
                }
            </select>
        </div>
        <table class="table display table-hover">
            <thead>
            <tr name="columna">
                <th class="clase" name="colClase">DESCRIPCION</th>
                <th class="unidad" name="colUnidad">IMPORTE</th>
            </tr>
            </thead>
            <tbody>
            <tr name="fila">
                <td class="descripcion">AHORRO</td>
                <td class="importe">
                    <input name="import" type="number" aria-label="importe" class="form-control" required min="1">
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <button type="submit" class="btnGuardar" value="guardar">Guardar</button>
    </form>
    <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Inicio", "Crud")'">Cancelar</button>
</div>
<script>
document.addEventListener("keyup", e =>{
    e.target.matches("#padre")
    console.log(e.target.value)
    if (e.target.matches("#padre")){
        if (e.key==="Escape")e.target.value = ""
        document.querySelectorAll(".father").forEach(father=>{
            father.textContent.toLowerCase().includes(e.target.value.toLowerCase()) ? father.classList.remove("filtro") : father.classList.add("filtro")
        })
    }
})
</script>
<script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;
        if (d < 10) {
            d = "0" + d;
        }
        if (m < 10) {
            m = "0" + m;
        }
        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    }
    setInputDate("#dateDefault");
</script>