@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "Index";
}
<!--jQuery library file -->
<script type="text/javascript"
        src="~/js/cruds.js">
</script>

<!--Datatable plugin JS library file -->
<script type="text/javascript"
        src="~/js/cruds2.js">
</script>
<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true" />

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<div class="recent-order">
    <h2>
        Lista Conquistadores ***

    </h2>
    <button type="submit" class="btnRegresar" value="regresar" onclick="location.href='@Url.Action("Ahorro", "Tesoreria")'">Regresar</button>
    <button type="submit" class="btnGuardar" value="aceptar" onclick="location.href='@Url.Action("Ahorro", "Tesoreria")'">Aceptar</button>

    <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Index", "Tesoreria")'">Cancelar</button>

    <form>
        <table class="table display table-hover">
            <thead>
                <tr name="columna">
                    <th>Confirmar</th>
                    <th scope="col" name="nro">Numero</th>
                    <th class="nombre" name="colNombre">Nombre</th>
                    <th class="apellido" name="colApellido">Apellidos</th>
                    <th class="cargo" name="colCargo">Cargo</th>
                    <th class="clase" name="colClase">Clase</th>
                    <th class="unidad" name="colUnidad">Unidad</th>
                    
                </tr>
            </thead>
            <tbody>

                <tr name="fila">
                    <td class="chkconfirmar">
                        <input type="checkbox" id="1">
                    </td>
                    <td scope="row" name="nro">1</td>
                    <td class="nombre" name="rowNombre">FirstName</td>
                    <td class="apellido" name="rowApellido">FullSurname</td>
                    <td class="clase" name="rowClase">Class</td>
                    <td class="unidad" name="rowUnidad">Unit</td>
                    <td class="cargo" name="rowCargo">Position</td>
                    

                </tr>

            </tbody>
        </table>

    </form>

</div>
<script>

    /* Initialization of datatables */
    $(document).ready(function () {
        $('table.display').DataTable();
    });

    var allChecked = [...document.querySelectorAll('input[type=checkbox]:checked')].map(e => e.id);
    console.log(allChecked);
</script>
